html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.AppHomePage .wrapper,
.AppFindPlantPage .wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

img {
  width: 100%;
  max-width: 600px;
  display: block;
}

.AppHomePage,
.AppFindPlantsPage {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-position: cover;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 6rem;
  line-height: 6.25rem;
  margin: 55% 0 5% 0;
}

h2 {
  font-size: 4rem;
  margin-top: 0;
}

h1,
h3 {
  color: white;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 15%;
}

h4 {
  font-size: 2.5rem;
  text-decoration: underline 1px solid #2b4440;
  margin: 5px 0 3px 0;
}

p {
  font-size: 1.25rem;
  margin-top: 3px;
  margin-bottom: 25%;
}

button {
  background: #ff5757;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: white;
  transition: 0.4s all;
}

a:focus,
a:hover,
a:active,
button:focus,
button:hover,
button:active {
  cursor: pointer;
  background: white;
  color: #ff5757;
}

button:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px #2b4440;
}

a,
.AppFindPlantsPage button {
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.logo a {
  font-family: 'Satisfy', cursive;
  text-transform: none;
}

.logo a:focus,
.logo a:hover,
.logo a:active {
  background: none;
  color: white;
}



.AppDisplayPage a {
  font-family: 'Satisfy', cursive;
  color: #2b4440;
}

.AppDisplayPage a:focus,
.AppDisplayPage a:hover,
.AppDisplayPage a:active {
  background: none;
  color: #2b4440;
}

.AppDisplayPage img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
}

form {
  margin-top: 60%;
}

select {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  background: white;
  color: #2b4440;
  border: none;
  margin-bottom: 5%;
  padding: 10px;
}

option {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  color: #2b4440;
  text-align: center;
}