html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  max-width: 900px;
}

.AppHomePage .wrapper,
.AppFindPlantPage .wrapper,
.AppPlantInfo .wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100vh;
}

img {
  width: 100%;
  max-width: 600px;
  display: block;
}

.AppHomePage,
.AppFindPlantsPage {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 6rem;
  line-height: 6.25rem;
  margin: 0 0 5% 0;
  padding-top: 55%;
}

h2 {
  font-size: 4rem;
  margin-top: 0;
}

h1,
h3 {
  color: white;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 15%;
}

h4 {
  font-size: 2.5rem;
  text-decoration: underline 1px solid #2b4440;
  margin: 5px 0 3px 0;
}

h5 {
  font-size: 1.5rem;
  color: white;
  background: #1b2b28;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

h6 {
  font-size: 1.5rem;
  margin: 0 auto;
  font-style: italic;
}

p {
  font-size: 1.25rem;
  margin: 0 0 10px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 25px;
}

.footer a {
  flex-basis: flex-end;
  margin: 3% auto;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}

.footer a:hover {
  background: none;
}

.AppHomePage .footer a {
  margin-top: 40%;
}

.AppPlantInfo .footer a,
.AppDisplayPage .footer a {
  color: #2b4440;
}

.btn,
button {
  background: #ff5757;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  transition: 0.4s all;
}

button:focus,
button:hover,
button:active {
  cursor: pointer;
  background: white;
  color: #ff5757;
}

a:hover {
  background: white;
  color: #ff5757;
}

.btn:active,
button:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px #2b4440;
}

.AppFindPlantsPage button {
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.logo a {
  font-family: 'Satisfy', cursive;
  text-transform: none;
  text-decoration: none;
  color: white;
}

.logo a:focus,
.logo a:hover,
.logo a:active {
  background: none;
}

.AppPlantInfo h2 a,
.AppDisplayPage h2 a {
  font-family: 'Satisfy', cursive;
  color: #2b4440;
}

.AppPlantInfo h2 a:focus,
.AppPlantInfo h2 a:hover,
.AppPlantInfo h2 a:active,
.AppDisplayPage h2 a:focus,
.AppDisplayPage h2 a:hover,
.AppDisplayPage h2 a:active {
  background: none;
  color: #2b4440;
}

.AppDisplayPage h4 a {
  color: #2b4440;
}

.AppDisplayPage h4 a:focus,
.AppDisplayPage h4 a:hover,
.AppDisplayPage h4 a:active {
  color: #ff5757;
}

.AppDisplayPage p {
  font-family: 'Noto Serif', serif;
}

.AppPlantInfo img,
.AppDisplayPage img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.dynamicInfo {
  margin-bottom: 10%;
}

.AppPlantInfo .dynamicInfo {
  margin-bottom: 25px;
}

form {
  margin-top: 10%;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

label {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding-bottom: 5px;
}

select {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  background: white;
  color: #2b4440;
  border: none;
  margin: 3px 0 8% 0;
  padding: 10px;
  width: 80%;
}

option {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  color: #2b4440;
  text-align: center;
}

@media (min-width: 550px) {
  h1 {
    font-size: 8rem;
    line-height: 9rem;
    margin-bottom: 0;
    padding-top: 40%;
  }

  h3 {
    font-size: 2rem;
    margin: 0 0 10% 0;
  }

  h2 {
    font-size: 6rem;
  }

  h5 {
    font-size: 2.25rem;
  }

  form {
    margin-top: 5%;
  }

  select {
    margin-bottom: 3%;
  }

  .AppDisplayPage img {
    height: 250px;
    width: 250px;
  }

  p {
    font-size: 1.75rem;
    margin-top: 10px;
  }

  .AppHomePage .footer a,
  .AppFindPlantsPage .footer a {
    margin-top: 25px;
  }
}

@media (min-width: 850px) {
    .AppPlantInfo .dynamicInfo {
    display: flex;
  }

  .AppPlantInfo .imgContainer {
    align-self: center;
    flex-basis: 50%;
  }

  .AppPlantInfo .plantSmallInfo {
    text-align: left;
    margin: 0 0 0 25px;
    align-self: center;
    flex-basis: 50%;
  }
}

@media (min-width: 900px) {
  h1 {
    padding-top: 30%;
  }

  h2 {
    margin-bottom: 25px;
  }

  h3 {
    margin-bottom: 5%;
  }

  form {
    margin-top: 25px;
  }

  label {
    font-size: 2rem;
    padding-bottom: 3px;
  }

  h5,
  select {
    width: 60%;
  }

  .AppPlantInfo img {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  h1 {
    padding-top: 30%;
  }

  h2 {
    margin-bottom: 50px;
  }

  .AppHomePage .footer a {
    font-size: 1.5rem;
    margin-top: 10%;
  }

  .AppFindPlantsPage .footer a {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .AppDisplayPage .dynamicInfo {
    margin-bottom: 5%;
  }

  h5,
  select {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  h2 {
    margin-bottom: 25px;
  }
  
  .AppFindPlantsPage .footer a {
    font-size: 1.75rem;
    margin-top: 10px;
  }

  .AppHomePage .footer a,
  .AppDisplayPage .footer a,
  .AppPlantInfo .footer a {
      font-size: 1.75rem;
  }
}

@media (min-width: 1550px) {
  .AppFindPlantsPage .footer a {
    margin-top: 5%;
  }
}

@media (min-width: 1800px) {
  h1 {
    padding-top: 20%;
  }
}